<table class="treatment-table" aria-label="User management table">
    <thead>
        <tr>
            <th class="treatment-table-header" scope="col">User</th>
            <th class="treatment-table-header" scope="col">Treatments</th>
            <th class="treatment-table-header" scope="col">Role</th>
            <th class="treatment-table-header" scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="treatment-table-cell">
                {{ user.username | capitalize }}
            </td>
            <td class="treatment-table-cell">
                {{ user.treatments.length }}
            </td>
            <td class="treatment-table-cell">
                {{ user.role | capitalize }}
            </td>
            <td class="treatment-table-cell">
                <button class="delete-button" (click)="deleteUser(user._id)" aria-label="Delete user">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>