:host {
    display: block;
    position: relative;
    height: 100vh;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('/assets/background.png') no-repeat center center fixed;
        background-size: cover;
        opacity: 0.5; // Adjust this value to control transparency (0 for fully transparent, 1 for fully opaque)
        z-index: -1; // This ensures the background is behind the content
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); // A subtle white background with 20% opacity
    // border-bottom: #0ab8b4 2px solid;
    // border-bottom: #e9bead 2px solid;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.2);

    .landing-text {
        max-width: 600px;
        font-size: 1.5rem;
        // margin-bottom: 20px;
        margin-top: -250px;
    }

    .get-started-btn {
        background-color: #379b99;
        // background-color: #e9bead;
        color: #fff;
        padding: 10px 20px;
        border: none;
        // border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 50px;

        &:hover {
            background-color: #e9bead;
        }
    }
}

@media (max-width: 768px) {
    .landing-text {
        font-size: 1.2rem;
    }

    .get-started-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}