<div class="title">App</div>

<div class="landing-container">
    <p class="landing-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem illo distinctio optio quia consectetur ab
        quasi ad accusantium repudiandae? Animi rem minus deleniti eos architecto, fugit eaque cum quis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem illo distinctio optio quia consectetur ab
        quasi ad accusantium repudiandae? Animi rem minus deleniti eos architecto, fugit eaque cum quis.
    </p>
    <button class="get-started-btn">Get Started</button>
</div>