<section>
  <h2>Register</h2>
  <form (ngSubmit)="register(user)">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" 
             [ngModel]="user.username" 
             (ngModelChange)="user && (user.username = $event)" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" 
             [ngModel]="user.password" 
             (ngModelChange)="user && (user.password = $event)" required>
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>
</section>

<section>
  <h2>login</h2>
  <form (ngSubmit)="login(user)">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" 
             [ngModel]="user.username" 
             (ngModelChange)="user && (user.username = $event)" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" 
             [ngModel]="user.password" 
             (ngModelChange)="user && (user.password = $event)" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</section>
<div>
  <button (click)="logout()">Logout</button>
</div>
