<form [formGroup]="treatmentForm" (ngSubmit)="onSubmit()" class="treatment-form">

    <fieldset class="form-group">
        <label for="treatment-name">Treatment name:</label>
        <input id="treatment-name" class="name-input" type="text" formControlName="name">
    </fieldset>

    <app-medicament-input (medicamentSelected)="onMedicamentSelected($event)"></app-medicament-input>

    <section class="medicaments-grid" formArrayName="medications">
        <article *ngFor="let medication of formMedications.controls; let i = index" class="medicament-wrapper">
            <fieldset [formGroupName]="i" class="medicament-container">
                <div class="medicament-text">
                    {{ medication.get('substance')?.value | slice:0:15 }} (...)
                </div>
                <button class="medicament-button" (click)="removeMedication(i)" aria-label="Remove Medication">x</button>
            </fieldset>
            <div class="time-input-container">
                <label for="medication-time-{{i}}" class="visually-hidden">Medication Time</label>
                <input id="medication-time-{{i}}" class="time-input" type="time" [formControl]="getHourControlForMedication(i)">
            </div>
        </article>
    </section>

    <fieldset class="form-group">
        <label for="strictness-level">Strictness Level:</label>
        <select id="strictness-level" class="strictness-level-select" formControlName="strictnessLevel">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </fieldset>

    <div class="form-group text-center">
        <button class="create-button" type="submit">
            {{ isEditMode ? 'Update Treatment' : 'Create Treatment' }}
        </button>
        <div *ngIf="errorMessage" class="errorMessage">
            {{ errorMessage }}
        </div>
    </div>

</form>
