$treatment-border-color: #282828;

.treatment-form {
    padding: 1.5rem;
    border: 1px solid $treatment-border-color;
    margin: 2rem auto;
    max-width: 620px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;

    label {
        display: block;
        font-weight: medium;
        margin-bottom: 0.5rem;
        margin-top: 10px;
    }

    input {
        width: 100%;
        border: 1px solid $treatment-border-color;
        background-color: #95c6c4;
        padding: 0.5rem;
        box-sizing: border-box;
        margin-top: 5px;
    }
}

.create-button {
    display: inline-block;
    background-color: #95c6c4;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 2px solid;
    margin-top: 1rem;
    cursor: pointer;

}

.text-center {
    text-align: center;
}

@media (max-width: 640px) {

    form {
        padding: 1rem;
    }

    .form-group {
        input {
            font-size: 0.875rem;
        }
    }

    button {
        width: 100%;
    }
}

.medicaments-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
    }
}

.medicament-container {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.medicament-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
    font-weight: bold;
}

.medicament-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.time-input {
    margin-top: 5px;
}

.strictness-level-select,
.time-input {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    background-color: #82ebe6;
    border-radius: 6px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(243, 238, 238, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

}

.errorMessage {
    color: red;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.75rem;
    width: 90%;
    text-align: center;
    font-size: small;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}