<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let treatment of treatments">
            <td>{{ treatment.name }}</td>
            <td>
                <select [(ngModel)]="treatment.state" (change)="setTreatmentState(treatment._id, treatment.state)">
                    <option *ngFor="let state of treatmentStates" [value]="state">{{ state }}</option>
                </select>
            </td>
            <td><button>Edit</button></td>
            <td><button (click)="onDeleteTreatment(treatment._id)">Delete</button></td>
        </tr>
    </tbody>
</table>