<header class="title">PharmaPote</header>

<section class="container">
    <div class="tab-container">
        <ul role="tablist">
            <li role="presentation" (click)="activeTab='login'">
                <button id="login-tab" [ngClass]="{'active-tab': activeTab === 'login'}" class="tab-link" role="tab"
                 aria-controls="login-panel" [attr.aria-selected]="activeTab === 'login'">Login</button>
            </li>
            <li role="presentation" (click)="activeTab='register'">
                <button id="register-tab" [ngClass]="{'active-tab': activeTab === 'register'}" class="tab-link" role="tab"
                 aria-controls="register-panel" [attr.aria-selected]="activeTab === 'register'">Register</button>
            </li>
        </ul>
        <app-auth-form 
            id="login-panel" 
            role="tabpanel" 
            aria-labelledby="login-tab"
            [isLoginMode]="true" 
            [errorMessage]="errorMessage" 
            (onFormSubmit)="onSubmitLogin($event)"
            *ngIf="activeTab === 'login'">
        </app-auth-form>
        <app-auth-form 
            id="register-panel" 
            role="tabpanel" 
            aria-labelledby="register-tab"
            [isLoginMode]="false" 
            [errorMessage]="errorMessage" 
            (onFormSubmit)="onSubmitRegister($event)"
            *ngIf="activeTab === 'register'">
        </app-auth-form>
    </div>
</section>