<nav>
    <div class="container">
        <div href="#" class="logo">
            <span>LOGO</span>
        </div>
        <ul class="menu">
            <li>
                <a [routerLink]="['/treatments/list']">
                    <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
                </a>
            </li>
            <li>
                <a [routerLink]="['/treatments/create']">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"> </fa-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>