nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #99cdca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: bold;
  height: 60px;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu-item {
  list-style: none;
}

.menu-link {
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.3s;
  color: #282828;

  &.active-link {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 600px) {
  nav {
    padding: 1rem 2rem;
  }

  .menu-link {
    padding: 0.5rem 1rem;
  }
}