<nav>
    <div class="nav-container">
        <div href="#" class="logo">
            <span>LOGO</span>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a [routerLink]="['/treatments/list']" routerLinkActive="active-link" class="menu-link">
                    <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
                </a>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/treatments/create']" routerLinkActive="active-link" class="menu-link">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
