<nav>
    <div class="nav-container">
        <img class="logo" src="../../../assets/logo.png" alt="App logo">
        <ul class="menu">
            <li *ngIf="isAdmin" class="menu-item">
                <a [routerLink]="['/dashboard']" routerLinkActive="active-link" class="menu-link"
                    aria-label="Dashboard">
                    <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                </a>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/treatments/create']" routerLinkActive="active-link" class="menu-link"
                    aria-label="Create treatment">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </li>
            <li class="menu-item">
                <a [routerLink]="['/treatments/list']" routerLinkActive="active-link" class="menu-link"
                    aria-label="List treatments">
                    <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
                </a>
            </li>
            <li class="menu-item">
                <app-notification-bell class="menu-link"></app-notification-bell>
            </li>    
            <li class="menu-item">
                <a (click)="logout()" href="#" class="menu-link" aria-label="Logout">
                    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>